composer.phar
.DS_Store

app/config/local/database.php
bootstrap/compiled.php
vendor
public/calendars/BrianJacobs.ics
public/calendars/DavidVanScott.ics

bjga-scheduler.sublime-project
bjga-scheduler.sublime-workspace