@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.svg#icomoon') format('svg'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.icn {
  font-family: 'icomoon';
  speak: none;
  font-weight: normal !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.icn-size-8 {
  font-size: 8px !important;
}
.icn-size-14 {
  font-size: 14px !important;
}
.icn-size-16 {
  font-size: 16px !important;
}
.icn-size-24 {
  font-size: 24px !important;
}
.icn-size-32 {
  font-size: 32px !important;
}
.icn-size-64 {
  font-size: 64px !important;
}
.icn-size-96 {
  font-size: 96px !important;
}
.icn-size-8-with-text {
  padding-bottom: 7px;
  font-size: 8px !important;
}
.icn-size-16-with-text {
  padding-bottom: 7px;
  font-size: 16px !important;
}
.icn-size-32-with-text {
  padding-bottom: 7px;
  font-size: 32px !important;
}
.icn-size-64-with-text {
  padding-bottom: 7px;
  font-size: 64px !important;
}
.icn-size-96-with-text {
  padding-bottom: 7px;
  font-size: 96px !important;
}
.icn-opacity-25 {
  opacity: 0.25;
}
.icn-opacity-50 {
  opacity: 0.5;
}
.icn-opacity-75 {
  opacity: 0.75;
}
[data-icon]:before {
  content: attr(data-icon);
}
