html,
body {
  height: 100%;
}
body {
  background: #2d3139;
  color: #444444;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
}
header {
  position: relative;
  height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background: #44932b;
  background: -moz-linear-gradient(top, #56ba37 0%, #44932b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #56ba37), color-stop(100%, #44932b));
  background: -webkit-linear-gradient(top, #56ba37 0%, #44932b 100%);
  background: -o-linear-gradient(top, #56ba37 0%, #44932b 100%);
  background: -ms-linear-gradient(top, #56ba37 0%, #44932b 100%);
  background: linear-gradient(top, #56ba37 0%, #44932b 100%);
}
header nav.nav-main {
  position: relative;
}
header nav.nav-main .brand {
  display: block;
  width: 322px;
  height: 75px;
  margin-right: 15px;
  float: right;
  background: transparent url(../img/img-bjga.png) no-repeat top left;
}
header nav.nav-main ul {
  margin: 0 0 0 15px;
  padding: 13px 0 0 0;
  list-style: none;
}
header nav.nav-main ul li {
  float: left;
  margin: 0 25px 0 0;
}
header nav.nav-main ul li a {
  display: block;
  padding: 5px;
  color: #326c1f;
  font-weight: 600;
  font-size: 18px;
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  border: 1px solid transparent;
  letter-spacing: .02em;
}
header nav.nav-main ul li a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
header nav.nav-main ul li a.active {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
nav.nav-sub {
  position: relative;
  padding-top: 15px;
}
nav.nav-sub p {
  margin: 0;
  clear: both;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  letter-spacing: .02em;
}
nav.nav-sub ul {
  margin: 0 0 25px 10px;
  padding: 0;
  list-style: none;
}
nav.nav-sub ul li {
  clear: both;
}
nav.nav-sub ul li a {
  color: rgba(255, 255, 255, 0.25);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .01em;
}
nav.nav-sub ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
nav.nav-sub ul li a .icn-size-16 {
  float: left;
  margin-top: 1px;
  margin-right: 8px;
}
nav.nav-sub ul li.active a {
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
section {
  position: relative;
  margin-right: -15px;
  padding: 15px;
  line-height: 1.75;
  background: #fbfbfb;
}
section h1 {
  margin-top: 0;
  font-family: "Crete Round", georgia, times, serif;
  color: #44932b;
}
section h2,
section h3,
section h4 {
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  color: #666666;
}
section h4 {
  margin: 12px 0;
}
section a {
  color: #53b334;
}
section a:hover {
  color: #44932b;
}
section li {
  line-height: 1.75;
}
section dl dt {
  margin-top: 10px;
  line-height: 1.75;
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
}
section dl dd {
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 1.75;
  font-size: 16px;
}
section dl dd strong {
  font-size: 16px;
}
#wrapper {
  height: 100%;
}
#wrapper > .row {
  height: 100%;
}
#wrapper > .row > .col-lg-10 {
  height: 100%;
}
#wrapper > .row > .col-lg-10 > section {
  min-height: 100%;
}
.copyright {
  padding: 0 5px 15px 5px;
  font-size: 14px;
  color: #888888;
}
.copyright a {
  color: #666666;
}
.copyright a:hover {
  color: #444444;
}
.btn {
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: transparent;
  border-width: 2px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px 50px 50px 50px;
}
.btn.btn-sm {
  font-size: 14px;
}
.btn.btn-lg {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px 50px 50px 50px;
}
.btn.btn-default {
  color: #646464;
  border-color: #646464;
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active,
.btn.btn-default.active,
.open .dropdown-toggle.btn.btn-default {
  background: #646464;
  color: #ffffff;
  border-color: #646464;
}
.btn.btn-primary,
.btn.btn-success {
  color: #44932b;
  border-color: #44932b;
}
.btn.btn-primary:hover,
.btn.btn-success:hover,
.btn.btn-primary:focus,
.btn.btn-success:focus,
.btn.btn-primary:active,
.btn.btn-success:active,
.btn.btn-primary.active,
.btn.btn-success.active,
.open .dropdown-toggle.btn.btn-primary,
.open .dropdown-toggle.btn.btn-success {
  background: #44932b;
  color: #ffffff;
  border-color: #44932b;
}
.btn.btn-danger {
  color: #af1515;
  border-color: #af1515;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger.active,
.open .dropdown-toggle.btn.btn-danger {
  background: #af1515;
  color: #ffffff;
  border-color: #af1515;
}
.btn.btn-info {
  color: #205b98;
  border-color: #205b98;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active,
.btn.btn-info.active,
.open .dropdown-toggle.btn.btn-info {
  background: #205b98;
  color: #ffffff;
  border-color: #205b98;
}
.btn-toolbar {
  margin: 15px 0;
}
form .control-label {
  font-weight: 600;
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  color: #666666;
  font-size: 16px;
}
input[type=text],
input[type=password],
input[type=email],
textarea,
select {
  font-family: "Open Sans", helvetica, arial, sans-serif;
}
.has-error .help-block,
.has-error .control-label {
  color: #af1515;
}
.has-error .form-control {
  border-color: #af1515;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #deb536;
}
.has-warning .form-control {
  border-color: #deb536;
}
.has-success .help-block,
.has-success .control-label {
  color: #44932b;
}
.has-success .form-control {
  border-color: #44932b;
}
.label {
  font-weight: 600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px 2px 2px 2px;
}
.label.label-warning {
  color: #6e5813;
  background-color: #e2bd4c;
}
.label.label-success {
  background-color: #44932b;
}
.label.label-info {
  background-color: #4695e4;
}
.label.label-default {
  background-color: #666666;
}
.label.label-danger {
  background-color: #c61818;
}
.label.label-lg {
  font-size: 16px;
}
.alert {
  font-family: "Titillium Web", helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: #fbf6d9;
  border-color: #dad08b;
  color: #928332;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.alert hr {
  border-top-color: #d4c878;
}
.alert .alert-link {
  color: #6c6125;
}
.alert.alert-info {
  background-color: #e3f4f9;
  border-color: #b8e4f1;
  color: #5bc0de;
}
.alert.alert-info hr {
  border-top-color: #a3dced;
}
.alert.alert-info .alert-link {
  color: #31b0d5;
}
.alert.alert-success {
  background-color: #e3f3e3;
  border-color: #bfe3bf;
  color: #5cb85c;
}
.alert.alert-success hr {
  border-top-color: #aedcae;
}
.alert.alert-success .alert-link {
  color: #449d44;
}
.alert.alert-danger {
  background-color: #fbefee;
  border-color: #f2c6c4;
  color: #d9534f;
}
.alert.alert-danger hr {
  border-top-color: #eeb1af;
}
.alert.alert-danger .alert-link {
  color: #c9302c;
}
.panel {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.panel .panel-heading {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.panel .panel-heading .panel-title {
  font-weight: 600;
}
.panel.panel-warning {
  border-color: #dad08b;
}
.panel.panel-warning .panel-heading {
  color: #928332;
  border-color: #dad08b;
  background-color: #fbf6d9;
}
.panel.panel-warning .panel-heading .panel-title {
  color: #928332;
}
.panel.panel-info {
  border-color: #b8e4f1;
}
.panel.panel-info .panel-heading {
  color: #5bc0de;
  border-color: #b8e4f1;
  background-color: #e3f4f9;
}
.panel.panel-info .panel-heading .panel-title {
  color: #5bc0de;
}
.help-block {
  font-size: 14px;
  color: #888888;
}
.help-block strong {
  font-weight: 600;
  font-size: 14px;
}
strong {
  font-weight: 600;
}
.text-small,
.text-sm {
  font-size: 14px;
}
.text-large,
.text-lg {
  font-size: 20px;
}
.search-control {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  border-radius: 50px 50px 50px 50px !important;
}
.data-table {
  margin: 15px 0;
}
.data-table > .row {
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid #dddddd;
}
.data-table > .row p {
  margin: 10px 0;
}
.data-table.data-table-striped > .row:nth-child(odd) {
  background: #ededed;
}
.data-table.data-table-bordered > .row {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.data-table.data-table-bordered > .row:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.data-table.data-table-bordered > .row:last-child {
  border-bottom: 1px solid #dddddd;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.data-table.data-table-bordered > .row:nth-child(1):nth-last-child(1) {
  border-bottom: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.nav-tabs > li > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:active {
  outline: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom-color: #fafafa;
  background: #fafafa;
  background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
  background: linear-gradient(top, #ffffff 0%, #fafafa 100%);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:active {
  outline: none;
}
.nav-pills > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a:active {
  outline: none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #44932b;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:active {
  outline: none;
}
.tab-content .tab-pane,
.pill-content .tab-pane,
.tab-content .pill-pane,
.pill-content .pill-pane {
  padding: 15px 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #44932b;
  color: #ffffff;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #44932b;
  color: #ffffff;
}
.input-group-addon,
.form-control {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}
.well {
  background: #eff0f1;
  border: 1px solid: #e4e7e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: 0 0 0 transparent, inset 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent, inset 0 0 0 transparent;
  box-shadow: 0 0 0 transparent, inset 0 0 0 transparent;
}
.well.well-sm {
  padding: 0 10px;
}
.text-success {
  color: #44932b;
}
.text-success:hover {
  color: #44932b;
}
.text-warning {
  color: #deb536;
}
.text-warning:hover {
  color: #deb536;
}
.lg-btn-spacing {
  margin: 15px 0;
}
.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  background-color: #44932b;
}
