@import "mixins.less";
@import "variables.less";
 
/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
	body {
		padding: 0;

		background: @color-bg;
		font-size: @font-size;
	}

	.container {
		width: 100%;
	}

	.wrapper {
		margin: 0;

		border: none;

		.rounded(0);
		.box-shadow(~"0 0 0 transparent");
	}

	.nav-main {
		ul {
			padding-top: 22px;

			li {
				a {
					font-size: 22px;

					div {
						display: none;
					}
				}
			}
		}
	}

	.nav-sub {
		ul {
			li {
				a {
					font-size: 14px;
				}
			}
		}
	}

	footer {
		font-size: 16px;

		.rounded(0);

		ul {
			li {
				line-height: @line-height;
			}
		}

		.lower {
			padding-top: 5px;

			border-top: 1px solid @color-border-light;
		}

		.map-pin {
			margin-top: 4px;
		}
	}

	.control-label {
		font-size: 16px;
	}

	.navbar {
		.container {
			padding-left: @spacing;
			padding-right: @spacing;
		}

		&.navbar-default {
			.gradient(@color-success-bright, @color-success);
		}

		.navbar-header {
			.navbar-brand {
				color: @color-white;
				text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
				font-weight: 600;
			}

			.navbar-toggle {
				border-color: transparent;

				.icon-bar {
					background-color: rgba(255, 255, 255, .4);
				}

				&:hover,
				&:visited,
				&:active,
				&:focus {
					background-color: transparent;

					.icon-bar {
						background-color: @color-white;
					}
				}
			}
		}

		.navbar-collapse {
			background-color: darken(@color-bg, 5%);
		}
	}

	.copyright {
		padding-top: 10px;
		padding-bottom: 10px;

		border-top: 1px solid @color-lightgray;
		border-bottom: 1px solid @color-lightgray;
		background-color: @color-gradient-light-top;
		text-align: center;

		div {
			float: none;
			display: block;

			text-align: center;
		}
	}
}
 
/* Mobile */
@media (max-width: 767px) {
	body {
		padding: 40px 0 0 0;

		background: @color-bg;
	}

	.wrapper {
		margin: 0;

		border: none;

		.rounded(0);
		.box-shadow(~"0 0 0 transparent");
	}

	.navbar {
		.container {
			padding-left: @spacing;
			padding-right: @spacing;
		}

		&.navbar-default {
			.gradient(@color-success-bright, @color-success);
		}

		.navbar-header {
			.navbar-brand {
				color: @color-white;
				text-shadow: 0 1px 1px rgba(0, 0, 0, .35);
				font-weight: 600;
			}

			.navbar-toggle {
				border-color: transparent;

				.icon-bar {
					background-color: rgba(255, 255, 255, .4);
				}

				&:hover,
				&:visited,
				&:active,
				&:focus {
					background-color: transparent;

					.icon-bar {
						background-color: @color-white;
					}
				}
			}
		}

		.navbar-collapse {
			background-color: darken(@color-bg, 5%);
		}
	}

	.copyright {
		padding-top: 10px;
		padding-bottom: 10px;

		border-top: 1px solid @color-lightgray;
		background-color: @color-gradient-light-top;
		text-align: center;

		div {
			float: none;
			display: block;

			text-align: center;
		}
	}

	.nav-tabs {
		border: none;

		> li {
			float: none;
			margin-bottom: 0;
			
			> a {
				width: 100%;

				.rounded(@border-radius);

				&:hover {
					border-color: transparent;
				}
			}

			&.active {
				> a:link,
				> a:hover,
				> a:visited {
					border-bottom: 1px solid @color-lightgray;
					background: @color-subtle;
				}
			}
		}
	}

	.nav-pills {
		> li {
			float: none;
			margin-bottom: 0;
			
			> a {
				width: 100%;

				.rounded(@border-radius);
			}
		}
	}
}